<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="layout :: html_head">
		<meta charset="UTF-8"/>
	</head>
	<body>
		<header th:replace="layout :: header"></header>
		
		<main>
			
			<div class="p-5 border">
				<h1>Meu Perfil</h1>
				<p>Os dados cadastrados do seu perfil.</p>
				<a th:href="@{/perfil/editar}" class="btn btn-outline-success" type="button">Editar perfil</a>
				<a th:href="@{/perfil/dividas}" class="btn btn-outline-danger" type="button">Ver dívidas</a>
			</div>
			
			<div class="p-5 mt-2 border">
			
				<h6>Nome: [[${user.nome}]]</h6>
				
				<h6>E-mail: [[${user.email}]]</h6>
				
				<h6>CPF: [[${user.cpf}]]</h6>
			
			</div>
			
		</main>
		
		<footer th:replace="layout :: footer"></footer>
	</body>
</html>